<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/puppy.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Dog Adoption Platform</h2>
    <a href="/mydogs/?dogs=registered" class="btn">View my dogs</a>
    <a href="/mydogs/?dogs=adopted" class="btn">View my adopted dogs</a>
  </div>
</header>

<%- include('partials/footer'); -%>