<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/puppy.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Dog Adoption Platform</h2>
    <a href="/api/dogs/register" class="btn">Register a dog</a>
    <a href="/api/dogs/?category=registered" class="btn">View my dogs</a>
    <a href="/api/dogs/?category=adopted" class="btn">Adopted dogs</a>
  </div>
</header>

<%- include('partials/footer'); -%>